# ferramentas p/ desenvolvimento
black
deptry
mypy
pyinstaller

# dependências diretas
beautifulsoup4
Flask
Flask-Material
Flask-SocketIO
selenium
pandas
openpyxl

# stubs (para usar no mypy)
pandas-stubs
types-openpyxl
types-beautifulsoup4
