{% extends "material/base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='styles/home.css') }}"
		/>
		<title>Document</title>
	</head>
	<body>
		<header class="z-depth-5">
			<div class="top-logo">
				<img
					src="{{ url_for('static',filename='img/uesc.png') }}"
					alt="Uesc Logo"
				/>
				<img
					src="{{ url_for('static',filename='img/accb.png') }}"
					alt="ACCB Logo"
				/>
			</div>
			<ul id="main-navigation" class="tabs">
				<li class="tab col s3"><a id="search" href="#pesquisar"> <i class="fa fa-shopping-cart"> </i> Pesquisar</a></li>
				<li class="tab col s3"></i><a id="list" href="#listagem" > <i class="fa fa-cogs"> </i>
					Selecionar</a></li>
				<li class="tab col s3"><a id="prog" href="#progress"> <i class="fa fa-spinner"> </i> Progresso</a></li>
				<li class="tab col s3"></i><a href="#configurar"  id="config"> <i class="fa fa-cogs"> </i>
					Configurar</a></li>
			</ul>
		</header>
		<main class="main-content row z-depth-5">
			<div id="pesquisar" class="tab">
				{% if search == false %}
					<div class="tab-content">
						<h5>Selecione um município para prosseguir com a pesquisa</h5>
						<div class="select-wrapper-main">
							{% for index,city in enumerate(data) %}
								<a class="select-item city" id="C{{index}}" >{{city}}</a>
							{% endfor %}
						</div>
						<button id="select" class="waves-effect waves-light btn-large">Selecionar Estabelecimentos</button>
					</div>
				{% endif %}
			</div>
			<div id="configurar" class="col s12 red tab">Configurar</div>
			<div id="progress" class="col s12 tab">
				<div class="tab-content">
					<h5>Pesquisando Produto [{{product}}]</h5>
					<div id="myProgress">
						<div id="myBar">10%</div>
					</div>
					<button onclick="move()" id="pause" class="waves-effect waves-light btn-large">Pausar Pesquisa</button>
				</div>
			</div>
			<div id="listagem" class="col s12 tab">
				<h5>Selecione pelo menos um estabelecimento para prosseguir</h5>
				<button id="select-all" class="waves-effect waves-light btn-large">Selecionar Todos</button>
				<div class="tab-content-listagem">
					<div>
						<div class="select-wrapper col s12">
								{% for index,estab in enumerate(estab_names) %}
									<a class="select-item estab" id="E{{index}}" >{{estab}}</a>
								{% endfor %}
						</div>
					</div>
				</div>
				<div class="button-menu">
					<button id="back" class="waves-effect waves-light btn-large">Voltar</button>
					<button id="start" class="waves-effect waves-light btn-large">Iniciar Pesquisa</button>
				</div>
			</div>
		</main>
		<footer>
		</footer>
		<script type='text/javascript' src="{{url_for('static', filename='js/jquery.js')}}"></script>
		<script type='text/javascript' src="{{url_for('static', filename='js/home.js')}}"></script>
	</body>
</html>

{% endblock %}
