{% extends "material/base.html" %}
	<head>
		{% block head %}
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Spectral:ital,wght@1,400;1,600;1,800&display=swap" rel="stylesheet">
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ url_for('static',filename='styles/materialize.css') }}"
			/>
			<link
				rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
			/>
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ url_for('static',filename='styles/home.css') }}"
			/>
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ url_for('static',filename='styles/modal.css') }}"
			/>
			<link rel="icon" href="{{ url_for('static',filename='icon/cart.svg') }}">
			<title>ACCB - Pesquisa Automática</title>
		{% endblock %}
	</head>
	{% block content %}
		<city value={{city}} />
		<header>
			<div class="top-logo">
				<img
					src="{{ url_for('static',filename='img/uesc_brasão.png') }}"
					alt="Uesc Logo"
				/>
				<img
					src="{{ url_for('static',filename='img/accb.png') }}"
					alt="ACCB Logo"
				/>
				<img
					src="{{ url_for('static',filename='img/proex.png') }}"
					alt="ACCB Logo"
				/>
			</div>
			<ul id="main-navigation" class="tabs">
				<li class="tab col s3"><a id="search" href="#pesquisar" class="tooltipped" data-position="bottom" data-tooltip="Selecionar Município"> <i class="fa fa-map-marker"> </i> Município</a></li>
				<li class="tab col s3"></i><a class="disable" id="list" href="#listagem" > <i class="fa fa-shopping-cart"> </i>
					Estabelecimentos</a></li>
				<li class="tab col s3"><a class="disable" id="prog" href="#progress"> <i class="fa fa-spinner"> </i> Progresso</a></li>
				<li class="tab col s3"></i><a href="#configurar"  id="config"  class="tooltipped" data-position="bottom" data-tooltip="Configurar Estabelecimentos"> <i class="fa fa-cogs"> </i>
					Configurar</a></li>
				<li class="tab col s3"></i><a href="#produtos"  id="config-product" class="active tooltipped" data-position="bottom" data-tooltip="Configurar Produtos"> <i class="fa fa-cogs"> </i>
					Produtos</a></li>
			</ul>
		</header>
		<main class="main-content row z-depth-5">
			<div id="pesquisar" class="tab">
					<div class="tab-content">
						<h5>Selecione um município para prosseguir com a pesquisa</h5>
						<div class="select-wrapper-main">
							{% for city in data %}
								<a class="select-item city z-depth-2" id="C{{city[0]}}" >{{decode(city[0])}}</a>
							{% endfor %}
						</div>
						<button id="select" class=" btn-large">Selecionar Estabelecimentos</button>
					</div>
			</div>
			<div id="listagem" class="col s12 tab">
				<h5>Selecione pelo menos um estabelecimento para prosseguir</h5>
				<div class="tab-content-listagem">
					<div>
						<div class="select_wrapper col s12">
							<i class="fa fa-spinner fa-pulse" id="loader"></i>
						</div>
					</div>
				</div>
				<div class="button-menu">
					<button id="back" class=" btn-large">Voltar</button>
					<button id="select-all" class=" btn-large">Selecionar Todos</button>
					<button id="start" class=" btn-large">Iniciar Pesquisa</button>
				</div>
			</div>
			<div id="progress" class="col s12 tab">
				<div class="tab-content">
					<h5>Pesquisando Produto [{{product}}]</h5>
					<div id="myProgress">
						<div id="myBar">10%</div>
					</div>
					<button onclick="move()" id="pause" class=" btn-large">Pausar Pesquisa</button>
				</div>
			</div>
			<div id="configurar" class="col s12 tab" >
				<div class="config-menu">
					<div style="margin-top: 1px ;" class="left tooltipped" data-position="top" data-tooltip="Filtrar por Cidade" >
						<select id="city-select" class="browser-default" >
							{% for city in data %}
								<option value="{{decode(city[0])}}">{{decode(city[0])}}</option>
							{% endfor %}
						</select>
					</div>
					<a href="#add-city-modal" rel="modal:open" class="right round btn-floating btn-large  primary_color tooltipped"  data-position="left" data-tooltip="Adicionar Cidade"><i class="fa fa-plus"></i>
					</a>
					<a style="margin-right: 10px;" class="right round btn-floating btn-large  primary_color tooltipped" data-position="bottom" data-tooltip="Editar Cidade" href="#edit-city" rel="modal:open"><i class="fa fa-edit"></i>
					</a>
					<a style="margin-right: 10px;" class="right round btn-floating btn-large  primary_color tooltipped" data-position="bottom" data-tooltip="Remover Cidade" href="#delete-city" rel="modal:open"><i class="fa fa-minus"></i>
					</a>
					<a id="export" class="primary_color left  btn-large">Exportar</a>
					<a id="import" class="primary_color left  btn-large">Importar</a>
				</div>
				<div class="tab-content-config">
					<div class="config-title">
						<h5>Listagem de Estabelecimentos</h5>
						<a class="right round btn-floating btn-large  primary_color tooltipped" data-position="left" data-tooltip="Adicionar Estabelecimento" href="#add-modal" rel="modal:open"><i class="fa fa-plus"></i></a>
					</div>
					<div id="list-config">

					</div>
				</div>
			</div>
			<div id="produtos" class="col s12 tab" >
				<div class="tab-content-config">
					<div class="config-title">
						<h5>Listagem de Produtos</h5>
						<a class="right round btn-floating btn-large  primary_color tooltipped" data-position="left" data-tooltip="Adicionar Produto" href="#add-modal-product" rel="modal:open"><i class="fa fa-plus"></i></a>
					</div>
					<div id="list-product">

					</div>
				</div>
			</div>
		</main>

		<!-- MODAL DINAMICO PARA EDIÇÃO DE ESTAB -->

		<div id="edit-modal" class="modal">
			<a href="#" rel="modal:close" />
		</div>

		<!-- MODAL DINAMICO PARA EDIÇÃO DE PRODUTO -->

		<div style="height: 45%;"id="edit-modal-product" class="modal">
			<a href="#" rel="modal:close" />
		</div>

		<!-- MODAL ADICIONANDO PRODUTO -->
		<div style="height: 45%;" id="add-modal-product" class="modal">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Adicionar Estabelecimento</h5>
				</div>
					<div class="row">
						<div style="margin: 20px 0;">
							<div class="input-field col s12">
								<input placeholder="" id="product_name" type="text" >
								<label class="active" for="product_name">Produto</label>
							</div>
							<div class="input-field col s12">
								<input  placeholder="Palavras Chave" id="keywords" type="text" >
								<label class="active" for="">Palavras Chave</label>
							</div>
						</div>
					</div>
					<div class="modal-menu">
						<button  class="cancel primary_color btn-large" href="#add-modal-product" rel="modal:close">Cancelar</button>
						<button id="save-add-product" class="primary_color btn-large">Adicionar Produto</button>
					</div>
			</div>
		</div>

		<!-- MODAL ADICIONANDO ESTAB -->
		<div id="add-modal" class="modal">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Adicionar Estabelecimento</h5>
				</div>
					<div class="row">
						<div style="margin: 20px 0;">
							<div class="input-field col s6">
								<select id="city_name-save" style="color: black !important;">
									{% for city in data %}
										<option value="{{city[0]}}" >{{decode(city[0])}}</option>
									{% endfor %}
								</select>
								<label>Cidade</label>
							</div>
							<div class="input-field col s6">
								<input placeholder="Estabelecimento" id="estab_name-save" type="text" >
								<label class="active" for="estab_name-save">Estabelecimento</label>
							</div>
							<div class="input-field col s6">
								<input  placeholder="Nome na Plataforma" id="web_name-save" type="text" >
								<label class="active" for="web_name-save">Nome na Plataforma</label>
							</div>
							<div class="input-field col s6">
								<input placeholder="Endereço" id="adress-save" type="text" >
								<label class="active" for="adress-save">Endereço</label>
							</div>
						</div>
					</div>
					<div class="modal-menu">
						<button  class="cancel primary_color btn-large" href="#add-modal" rel="modal:close">Cancelar</button>
						<button id="save-add" class="primary_color btn-large">Adicionar Estabelecimento</button>
					</div>
			</div>
		</div>

		<!-- MODAL DELETANDO CIDADE -->
		<div id="delete-city" class="modal" style="max-width: 50%; height: 40%;">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Deletar Cidade</h5>
				</div>
					<div class="row">
						<div style="margin: 20px 0;">
							<div class="input-field col s12">
								<select id="city-delete-select" style="color: black !important;">
									{% for city in data %}
										<option value="{{city[0]}}" >{{decode(city[0])}}</option>
									{% endfor %}
								</select>
								<label>Cidade</label>
							</div>
					</div>
				</div>
				<div class="modal-menu">
					<button  class="cancel primary_color btn-large" href="#delete-city" rel="modal:close">Cancelar</button>
					<button id="save-delete-city" class="primary_color btn-large">Deletar Cidade</button>
				</div>
		</div>
		<!-- MODAL EDITANDO CIDADE -->
		<div id="edit-city" class="modal" style="max-width: 50%; height: 40%;">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Editar Cidade</h5>
				</div>
					<div class="row">
						<div style="margin: 20px 0;">
							<div class="input-field col s6">
								<select id="city-edit-select" style="color: black !important;">
									{% for city in data %}
										<option value="{{city[0]}}" >{{decode(city[0])}}</option>
									{% endfor %}
								</select>
								<label>Cidade</label>
							</div>
							<div class="input-field col s6">
								<input placeholder="Cidade" id="city-edit" type="text" >
								<label class="active" for="city-edit">Novo Nome</label>
							</div>
					</div>
				</div>
				<div class="modal-menu">
					<button  class="cancel primary_color btn-large" href="#" rel="modal:close">Cancelar</button>
					<button id="save-edit-city" class="primary_color btn-large">Salvar Alterações</button>
				</div>
		</div>

		<!-- MODAL ADICIONANDO CIDADE -->
		<div style="max-width: 50%; height: 40%;" id="add-city-modal" class="modal">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Adicionar Cidade</h5>
				</div>
					<div class="row">
						<div style="margin: 20px 0;">
							<div class="input-field col s12">
								<input placeholder="Cidade" id="save-city" type="text" >
								<label class="active" for="save-city">Cidade</label>
							</div>
						</div>
					</div>
					<div class="modal-menu">
						<button  class="cancel primary_color btn-large" href="#add-city-modal" rel="modal:close">Cancelar</button>
						<button id="add-city" class="primary_color btn-large">Adicionar Cidade</button>
					</div>
			</div>
		</div>


	{% endblock %}

	{% block scripts %}
		{{super()}}
		<script type='text/javascript' src="{{url_for('static', filename='js/materialize.js')}}"></script>
		<script type='text/javascript' src="{{url_for('static', filename='js/modal.js')}}"></script>
		<script type='text/javascript' src="{{url_for('static', filename='js/home.js')}}"></script>
	{% endblock %}
