{% extends "base.html" %}

{% block title %}
  PH - Coleta Semi-Automática
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/modal.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/home.mjs') }}"></script>
{% endblock %}

{% macro img(src,alt) %}
  <img src="{{ url_for('static', filename='img/' + src) }}" alt="{{ alt }}"/>
{% endmacro %}

{% macro sobre_programa() %}
  <p>Esta aplicação objetivou <b>modernizar o processo de coleta de preços dos
    produtos que compõem a cesta básica</b> do projeto de extensão
  <i>Acompanhamento do Custo da Cesta Básica (ACCB)</i>.</p>

  <p>Para isso, uma das ferramentas desenvolvidas foi esta aplicação desktop,
  que busca automatizar a pesquisa na plataforma <i><a
  href="https://precodahora.ba.gov.br/">Preço da Hora – Bahia</a></i>, que
  disponibiliza os preços de produtos em diversos estabelecimentos da
  Bahia.</p>

  <p>Para realizar a pesquisa, este aplicativo coleta os dados no processo de
  scraping no referido site, armazenando-os em um banco de dados e
  devolvendo-os em uma coleção de arquivos em excel, contendo informações de
  preços de produtos de interesse. Essa ferramenta pode ser utilizada por
  outras instituições da Bahia, bastando apenas alterar algumas configurações
  do programa.</p>
{% endmacro %}

{% block content %}
  <header>
    <div id="top-menu">
      {{ top_logos() }}

      <div id="top-right-buttons">
        <a class="round btn-floating btn-large primary_color tooltipped red" data-position="bottom" data-tooltip="Aviso Utilização" id="warning-button" href="#warning" rel="modal:open"><i class="fa fa-warning"></i></a>
        <a class="round btn-floating btn-large primary_color tooltipped red" data-position="bottom" data-tooltip="Abrir pasta de arquivos" id="open_folder"><i class="fa fa-folder"></i></a>
        <a class="round btn-floating btn-large primary_color tooltipped red" data-position="bottom" data-tooltip="Fechar Programa" id="close_app"><i class="fa fa-close"></i></a>
      </div>
    </div>
    <div>
      <ul id="main-navigation" class="tabs disabled">
        <li class="hidden tab col s3"><a class="disabled" id="list" href="#tab-initial"></a></li>

        <li class="tab col s3"><a id="search" href="#tab-pesquisar" class="tooltipped" data-position="bottom" data-tooltip="Realizar uma pesquisa">
          <i class="fa fa-search"></i>
          Pesquisa
        </a></li>

        <li class="hidden tab col s3"><a class="disabled" id="list" href="#listagem"></a></li>

        <li class="hidden tab col s3"><a class="disabled" id="prog" href="#progress"></a></li>

        <li class="tab col s3"><a href="#configurar" id="config" class="tooltipped" data-position="bottom" data-tooltip="Configurar estabelecimentos">
          <i class="fa fa-map-marker"></i>
          Estabelecimentos
        </a></li>

        <li class="tab col s3"><a href="#produtos" id="config-product" class="tooltipped" data-position="bottom" data-tooltip="Configurar produtos">
          <i class="fa fa-shopping-cart"></i>
          Produtos
        </a></li>

        <li class="tab col s3"><a href="#pesquisa" id="search_check" class="tooltipped" data-position="bottom" data-tooltip="Visualizar pesquisas já feitas">
          <i class="fa fa-database"></i>
          Histórico
        </a></li>

        <li class="tab col s3"><a href="#tab-configuracoes" class="tooltipped" data-position="bottom" data-tooltip="Configurações do programa">
          <i class="fa fa-cogs"></i>
          Configurações
        </a></li>

        <li class="tab col s3"><a href="#about" id="sobre" class="tooltipped" data-position="left" data-tooltip="Sobre o programa">
          <i class="fa fa-info-circle"></i>
          Sobre
        </a></li>
      </ul>
    </div>
  </header>

  <div id="template-values" hidden>
    <p id="is-chrome-installed">{{ is_chrome_installed }}</p>
  </div>

  <main class="main-content row z-depth-5">
    <div id="tab-initial" class="tab">
      <div class="tab-content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <p class="title">
          <i class="fa fa-shopping-cart"></i>
          ACCB Price Miner - Preço da Hora Bahia
        </p>

        <p id="please-wait">Por favor aguarde...</p>

        <div id="no-path-set" hidden>
          <p>Seu caminho de saída de arquivos não foi especificado!</p>
          <p>Selecione uma pasta para salvar os arquivos que o programa gerar.</p>
          <button id="change-path" class="primary_color btn-large">Definir caminho</button>
          <p>Posteriormente você pode alterar esse caminho na pasta de configurações.</p>
        </div>
      </div>
    </div>
    <div id="tab-pesquisar" class="tab">
      <div class="tab-content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <p class="title">
          <i class="fa fa-shopping-cart"></i>
          ACCB Price Miner - Preço da Hora Bahia
        </p>

        {% if not is_chrome_installed %}
          <h5>Google Chrome não encontrado.</h5>
          <p>Instale uma versão qualquer do Google Chrome para realizar uma pesquisa.</p>

        {% elif len(city_names) == 0 %}
          <h5>Cadastre pelo menos um município para realizar uma pesquisa</h5>

        {% elif product_len == 0 %}
          <h5>Cadastre pelo menos um produto para realizar uma pesquisa</h5>

        {% else %}
          <h5>Selecione um município para prosseguir com a pesquisa:</h5>

          <div class="select-wrapper-main">
            {% for city in city_names %}
              <button class="btn-large btn-start-search-at-city" value="{{ city }}">{{ city }}</button>
            {% endfor %}
          </div>

          <h5>Ou selecione uma das pesquisas interrompidas (backups):</h5>

          <div class="select-wrapper-main" id="tab-pesquisar-backup-list">
            {% for ong, sch in ongoing_searches_pairs %}
              <button
                class="resume-ongoing-search btn-large"
                data-search-id="{{ ong.search_id }}"
              >
                Pesquisa em {{ ong.city }} ({{ as_percentage(ong.current_product, len(ong.products)) }}) ({{ sch.start_date }})
              </button>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div id="listagem" class="col s12 tab">
      <h5>Selecione pelo menos um estabelecimento para prosseguir</h5>
      <div class="tab-content-listagem">
        <div class="select_wrapper col s12">
          <i class="fa fa-spinner fa-pulse" id="loader"></i>
        </div>
        <div class="button-menu">
          <button id="back" class=" btn-large">Voltar</button>
          <button id="select-all" class=" btn-large">Selecionar Todos</button>
          <button id="start" class=" btn-large">Iniciar Pesquisa</button>
        </div>
      </div>
    </div>
    <div id="progress" class="col s12 tab">
      <div class="tab-content" style="top: -50%">
        <h5>Iniciando Pesquisa</h5>
        <div id="progress_container">
          <div id="progress_bar">0%</div>
        </div>
        <div id="progress_scroll" style="">
          <div id="progress_log">
          </div>
        </div>
        <p id="wait-log"></p>
        <div class="button-menu">
          <button id="pause" class=" btn-large">Pausar Pesquisa</button>
          <button id="cancel" class=" btn-large">Cancelar Pesquisa</button>
        </div>
      </div>
      <div class="row center pause-overlay">
        <i class="fa fa-spinner fa-pulse" id="pause-loader"></i>
      </div>
    </div>
    <div id="configurar" class="col s12 tab">
      <div class="config-menu">
        <div style="margin-top: 1px ;" class="left tooltipped" data-position="top" data-tooltip="Filtrar por Cidade">
          <select id="city-select" class="browser-default">
            {% for city in city_names %}
              <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
          </select>
        </div>
        <a href="#add-city-modal" rel="modal:open" class="right round btn-floating btn-large primary_color tooltipped" data-position="left" data-tooltip="Adicionar Cidade"><i class="fa fa-plus"></i>
        </a>
        <a style="margin-right: 10px;" class="right round btn-floating btn-large primary_color tooltipped" data-position="bottom" data-tooltip="Editar Cidade" href="#edit-city" rel="modal:open"><i class="fa fa-edit"></i>
        </a>
        <a style="margin-right: 10px;" class="right round btn-floating btn-large primary_color tooltipped" data-position="bottom" data-tooltip="Remover Cidade" href="#delete-city" rel="modal:open"><i class="fa fa-minus"></i>
        </a>
      </div>
      <div class="tab-content-config">
        <div class="config-title">
          <h5>Lista de estabelecimentos</h5>
          <a class="right round btn-floating btn-large primary_color tooltipped" data-position="left" data-tooltip="Adicionar Estabelecimento" href="#add-modal" rel="modal:open"><i class="fa fa-plus"></i></a>
        </div>
        <div id="list-config">
          <div style="display: none;" class="z-depth-3 estab-config-result" id="no-result" style="justify-content: center;"><a style="color: white; width: 100%;" href="#add-modal" rel="modal:open">
            <p>Nenhum estabelecimento cadastrado, pressione para adicionar.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="produtos" class="col s12 tab">
      <div class="tab-content-config">
        <div class="config-title">
          <h5>Lista de produtos</h5>
          <a class="right round btn-floating btn-large primary_color tooltipped" data-position="left" data-tooltip="Adicionar Produto" href="#add-modal-product" rel="modal:open"><i class="fa fa-plus"></i></a>
        </div>
        <div id="list-product">
          <div style="display: none;" class="z-depth-3 product-config" id="no-result-product" style="justify-content: center;">
            <a style="color: white; width: 100%;" href="#add-modal-product" rel="modal:open">
            <p>Nenhum produto cadastrado, pressione para adicionar.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="pesquisa" class="col s12 tab">
      <div class="tab-content-search">
        <div class="config-title" style="margin: 0;">
          <div id="esq">
            <div style="margin-top: 1px ;" class="left tooltipped" data-position="top" data-tooltip="Filtrar por Mês">
              <select id="month-picker" class="browser-default">
                {% for (i, m) in enumerate(months) %}
                  {% if i + 1 == current_month %}
                    <option selected value="{{ i }}">{{ m }}</option>
                  {% else %}
                    <option value="{{ i }}">{{ m }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div style="margin-top: 1px ;" class="left tooltipped" data-position="top" data-tooltip="Filtrar por Pesquisa">
              <select id="search-select" class="browser-default">
                {% if len(searches_this_month) == 0 %}
                  <option value="null">Nenhuma Pesquisa</option>
                {% endif %}

                {% for id, city_name, search_date in searches_this_month[::-1] %}
                  <option data-city="{{ city_name }}" value="{{ id }}">{{ city_name }} {{ search_date }}</option>
                {% endfor %}
              </select>
            </div>
            <button id="btn-toggle-warnings" class="primary_color btn-large">Mostrar avisos</button>
          </div>
          <div>
            <a style="margin-right: 10px; margin-left: 10px;" class="right round btn-floating btn-large primary_color tooltipped" data-position="left" id="open-search-file" href="#search-file" rel="modal:open" data-tooltip="Gerar Arquivos"><i class="fa fa-file"></i></a>
            <a class="right round btn-floating btn-large primary_color tooltipped" id="remove-search" data-position="left" data-tooltip="Remover Pesquisa"><i class="fa fa-minus"></i></a>
            <a style="margin-right: 10px;" class="right round btn-floating btn-large primary_color tooltipped" id="clean-search" data-position="left" data-tooltip="Limpar Pesquisas"><i class="fa fa-trash"></i></a>
          </div>
        </div>
        <h5 style="width: 100%; margin-top: 1em;">Lista de pesquisas</h5>
        <div class="input-field search_div">
          <input placeholder="Pesquisar (qualquer das colunas da tabela)" class="browser-default z-depth-2" id="search_bar"/>
          <a class="round btn-floating btn-large primary_color tooltipped" data-position="left" id="do_search" data-tooltip="Pesquisar"><i class="fa fa-search"></i></a>
        </div>
        <div id="list-search">
          <table id="table-logs" class="centered striped hidden">
            <thead>
              <tr style="position:sticky; top: -3%; color: #fff;" class="primary_color">
                <th>Avisos</th>
              </tr>
            </thead>
            <tbody>
              <tr class="no-result" style="display: none;">
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
              </tr>
            </tbody>
          </table>

          <table id="table-products" class="centered striped">
            <thead>
              <tr style="position:sticky; top: -3%; color: #fff;" class="primary_color">
                <th>Estabelecimento</th>
                <th>Endereço</th>
                <th>Palavra-chave</th>
                <th>Produto</th>
                <th>Preço</th>
              </tr>
            </thead>
            <tbody id="search-tbody">
              <tr class="no-result" style="display: none;">
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
              </tr>
            </tbody>
          </table>

          <i class="fa fa-spinner fa-pulse" id="search-loader"></i>
        </div>
        </div>
        <span class="left duration">Tempo de duração da pesquisa: ???</span>
    </div>

    <div id="about" class="col s12 tab">
      {% macro about_url(icon, name, href) %}
        <div>
          <a target="_blank" href="{{ href }}">
            <img src="{{ url_for('static', filename=icon) }}"/>
            {{ name }}
          </a>
        </div>
      {% endmacro %}

      <div class="tab-content-config row center" style="padding-bottom: 5%;">
        <div id="doc" class="row tab" style="margin: 1em 0;">
          <div class="config-title">
            <h5>Colaboradores</h5>
          </div>
          <div class="col s12 m12 center about-item">
            <div class="about-container">
              <div class="about-profile z-depth-5">
                <div>
                  {{ about_url("img/linkedin.svg", "Samuel Mendonça Vasconcelos", "https://linkedin.com/in/samuel-vasconcelos-b196001ba/") }}
                  {{ about_url("img/github.svg", "github.com/smvasconcelos", "https://github.com/smvasconcelos") }}
                </div>
              </div>

              <div class="about-profile z-depth-5">
                <div>
                  {{ about_url("img/linkedin.svg", "Yohanan Santos de Santana", "https://www.linkedin.com/in/yohanan-santana/") }}
                  {{ about_url("img/github.svg", "github.com/yohannd1", "https://github.com/yohannd1") }}
                </div>
              </div>

              <div class="about-profile z-depth-5">
                <div>
                  {{ about_url("img/lattes.svg", "Marta Magda Dornelles", "http://lattes.cnpq.br/0053869533760582") }}
                  {{ about_url("img/gmail.svg", "mmbertoldi@uesc.br", "mailto:mmbertoldi@uesc.br") }}
                </div>
              </div>

              <div class="about-profile z-depth-5">
                <div>
                  {{ about_url("img/lattes.svg", "Mônica de Moura Pires", "http://lattes.cnpq.br/6157255488660799") }}
                  {{ about_url("img/gmail.svg", "mpires@uesc.br", "mailto:mpires@uesc.br") }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="doc2" class="row tab" style="margin: 1em 0; position: relative;">
          <div class="config-title">
            <h5>Sobre o programa</h5>
          </div>
          <div class="about-program">
            {{ sobre_programa() }}
          </div>
        </div>
        <ul id="sec-navigation" class="tabs" style="width: 100%;">
          <li class="tab"><a href="#doc"><i class="fa fa-map-marker"></i>Colaboradores</a></li>
          <li class="tab"><a href="#doc2"> <i class="fa fa-map-marker"></i>O programa</a></li>
        </ul>
      </div>
    </div>

    <div id="tab-configuracoes" class="col s12 tab">
      <div class="tab-content row center">
        <h5>Configurações</h5>
        <div class="select-wrapper-main" id="tab-configuracoes-settings-list">
          <p id="please-wait">Por favor aguarde...</p>
        </div>
      </div>
    </div>
  </main>

  <!-- MODAL DINAMICO PARA EDIÇÃO DE ESTAB -->
  <div id="edit-modal" style="min-height: 450px" class="modal">
    <a href="#" rel="modal:close"/>
  </div>

  <!-- MODAL DINAMICO PARA EDIÇÃO DE PRODUTO -->
  <div style="height: 45%; min-height: 350px;"id="edit-modal-product" class="modal">
    <a href="#" rel="modal:close"/>
  </div>

  <!-- MODAL ADICIONANDO PRODUTO -->
  <div style="height: 45%; min-height: 350px;" id="add-modal-product" class="modal">
    <div class="modal-content">
      <div>
        <h5 class="modal-title">Adicionar Produto</h5>
      </div>
        <div>
          <div style="margin: 20px 0;">
            <div class="input-field col s12">
              <input placeholder="" id="product_name" type="text">
              <label class="active" for="product_name">Produto</label>
            </div>
            <div class="input-field col s12">
              <input placeholder="Palavras Chave" id="keywords" type="text">
              <label class="active" for="">Palavras Chave</label>
            </div>
          </div>
        </div>
        <div class="modal-menu" style="position: relative;">
          <button class="cancel primary_color btn-large" href="#add-modal-product" rel="modal:close">Cancelar</button>
          <button id="save-add-product" class="primary_color btn-large">Adicionar Produto</button>
        </div>
    </div>
  </div>

  <!-- MODAL ADICIONANDO ESTAB -->
  <div id="add-modal" style="min-height: 450px;" class="modal">
    <div class="modal-content">
      <div>
        <h5 class="modal-title">Adicionar Estabelecimento</h5>
      </div>
        <div>
          <div style="margin: 20px 0;">
            <div class="input-field col s6">
              <select id="city_name-save" style="color: black !important;">
                {% for city in city_names %}
                  <option value="{{ city_name }}">{{ city_name }}</option>
                {% endfor %}
              </select>
              <label>Cidade</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Estabelecimento" id="estab_name-save" type="text">
              <label class="active" for="estab_name-save">Estabelecimento</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Nome na Plataforma" id="web_name-save" type="text">
              <label class="active" for="web_name-save">Nome na Plataforma</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Endereço" id="address-save" type="text">
              <label class="active" for="address-save">Endereço</label>
            </div>
          </div>
        </div>
        <div class="modal-menu">
          <button class="cancel primary_color btn-large" href="#add-modal" rel="modal:close">Cancelar</button>
          <button id="save-add" class="primary_color btn-large">Adicionar Estabelecimento</button>
        </div>
    </div>
  </div>

  <!-- MODAL DELETANDO CIDADE -->
  <div id="delete-city" class="modal" style="height: 40%;">
    <div class="modal-content">
      <div>
        <h5 class="modal-title">Deletar Cidade</h5>
      </div>
      <div>
        <div style="margin: 20px 0;">
          <div class="input-field col s12">
            <select id="city-delete-select" style="color: black !important;">
              {% for name in city_names %}
                <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
            </select>
            <label>Cidade</label>
          </div>
        </div>
      </div>
      <div class="modal-menu">
        <button class="cancel primary_color btn-large" href="#delete-city" rel="modal:close">Cancelar</button>
        <button id="save-delete-city" class="primary_color btn-large">Deletar Cidade</button>
      </div>
    </div>
  </div>

  <!-- MODAL DE EDIÇÃO DE CIDADE -->
  <div id="edit-city" class="modal" style="height: 40%; min-height: 350px;">
    <div class="modal-content">
      <div>
        <h5 class="modal-title">Editar Cidade</h5>
      </div>
      <div>
        <div style="margin: 20px 0;">
          <div class="input-field col s6">
            <select id="city-edit-select" style="color: black !important;">
              {% for name in city_names %}
                <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
            </select>
            <label>Cidade</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Cidade" id="city-edit" type="text">
            <label class="active" for="city-edit">Novo Nome</label>
          </div>
        </div>
      </div>
      <div class="modal-menu">
        <button class="cancel primary_color btn-large" href="#" rel="modal:close">Cancelar</button>
        <button id="save-edit-city" class="primary_color btn-large">Salvar Alterações</button>
      </div>
  </div>

  <!-- MODAL DE CRIAÇÃO DE CIDADE -->
  <div style="height: 40%;" id="add-city-modal" class="modal">
    <div class="modal-content">
      <div>
        <h5 class="modal-title">Adicionar Cidade</h5>
      </div>
      <div>
        <div style="margin: 20px 0;">
          <div class="input-field col s12">
            <input placeholder="Cidade" id="save-city" type="text">
            <label class="active" for="save-city">Cidade</label>
          </div>
        </div>
      </div>
      <div class="modal-menu">
        <button class="cancel primary_color btn-large" href="#add-city-modal" rel="modal:close">Cancelar</button>
        <button id="add-city" class="primary_color btn-large">Adicionar Cidade</button>
      </div>
    </div>
  </div>

  <!-- MODAL DE WARNINGS -->
  <div id="warning" class="modal">
    <div class="modal-content" style="height: 100%">
      <div>
        <h5 class="modal-title" style="width: 100%;">
          <i style="color: #bb3939;margin-right: 10px;" class="fa fa-warning"></i>
          Dicas para utilização do programa
          <i style="color: #bb3939;margin-left: 10px;" class="fa fa-warning"></i>
        </h5>
      </div>
      <ul class="browser-default">
        <li>Só é possível abrir uma aba do programa por vez - janelas posteriores mostram um aviso relacionado.</li>

        <li>O progresso de uma pesquisa é salvo durante a mesma - em caso de erro ou perda de internet, é possível retomar uma pesquisa através da página inicial.</li>
        <li>Não atualize ou feche a página de pesquisa manualmente - isso pode causar erros.</li>

        <li>A quantidade de estabelecimentos cadastrados não influenciam no tempo da pesquisa em si, mas as <b>palavras-chave</b> aumentam (média de 2 a 4 minutos extra por palavra-chave).</li>

        <li>É possível pesquisar por qualquer campo da tabela de pesquisas disponível na janela de pesquisas.</li>

        <li>Os endereços dos estabelecimentos devem ser cadastrados da forma mais idêntica possível aos valores encontrados no <i>Preço da Hora - Bahia</i> para maximizar as chances de pesquisar corretamente.</li>
        <li>Antes de cadastrar uma cidade, confira no site do preço da hora como o nome do município aparece. Isso pode ser feito nos filtros de pesquisa em: Alterar Localização &gt; (popup) Usar centro do município &gt; Insira o nome do município desejado.</li>
      </ul>
    </div>
  </div>

  <!-- MODAL DE OPÇÃO DE ARQUIVOS - PESQUISA -->
  <div id="search-file" class="modal">
    <div class="modal-content">
      <div>
        <h5 class="modal-title">Selecione pelo menos um estabelecimento para prosseguir</h5>
      </div>
      <div style="margin-top: 1.8em;">
        <div class="input-field col s12">
          <select id="file_format" style="color: black !important;">
            <option value="default">Padrão (Estabelecimentos cadastrados)</option>
            <option value="all">Todos (Estabelecimentos não cadastrados)</option>
          </select>
          <label style="left: 0;">Formatação</label>
        </div>
        <div id="file-list"></div>
        <div class="modal-menu" style="position: relative;">
          <button class="cancel primary_color btn-large" href="#add-modal" rel="modal:close">Cancelar</button>
          <button id="select-all-file" class=" btn-large primary_color">Selecionar Todos</button>
          <button id="generate-file" class="primary_color btn-large">Gerar Arquivos</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
