{% extends "material/base.html" %}
	<head>
		{% block head %}
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Spectral:ital,wght@1,400;1,600;1,800&display=swap" rel="stylesheet">
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ url_for('static',filename='styles/materialize.css') }}"
			/>
			<link
				rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
			/>
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ url_for('static',filename='styles/home.css') }}"
			/>
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ url_for('static',filename='styles/modal.css') }}"
			/>
			<link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">

			<link rel="icon" href="{{ url_for('static',filename='icon/cart.svg') }}">
			<title>PH - Coleta Semi-Automática</title>
		{% endblock %}
	</head>
	{% block content %}
		<city value={{city}} />
		<search value="false" />
		<header>
			<div id="top-menu">
				<div class="top-logo">
					<img
						src="{{ url_for('static',filename='img/uesc_brasão.png') }}"
						alt="Uesc Logo"
					/>
					<img
						src="{{ url_for('static',filename='img/accb.png') }}"
						alt="ACCB Logo"
					/>
					<img
						src="{{ url_for('static',filename='img/proex.png') }}"
						alt="ACCB Logo"
					/>
				</div>
				<div style="margin-top: 2em;">
					<a style="background: #fea621 !important; margin-right: 10px;" class="right round btn-floating btn-large  primary_color tooltipped red" data-position="bottom" data-tooltip="Aviso Utilização" id="warning-button" href="#warning" rel="modal:open"><i class="fa fa-warning"></i></a>
					{% if search %}
						<a style="background: #fea621 !important; margin-right: 10px;" class="right round btn-floating btn-large  primary_color tooltipped red" data-position="bottom" data-tooltip="Retomar Pesquisa - Backup" id="backup-button" ><i class="fa fa-shopping-cart"></i></a>
					{% else %}
						<a  style="margin-right: 10px;" class="right round btn-floating btn-large  primary_color tooltipped red" data-position="bottom" data-tooltip="Nenhum backup disponível" id="backup-button" ><i class="fa fa-shopping-cart"></i></a>
					{% endif %}
				</div>
			</div>
			<div>
				<p class="title"><i class="fa fa-shopping-cart"> </i> Preço da Hora Bahia - Coleta Semi-Automática </p>

				<ul id="main-navigation" class="tabs" style="width: fit-content;">
					<li class="tab col s3"><a id="search" href="#pesquisar" class="tooltipped" data-position="bottom" data-tooltip="Selecionar Município"> <i class="fa fa-map-marker"> </i> Município</a></li>
					<li class="tab col s3"></i><a class="disable" id="list" href="#listagem" > <i class="fa fa-shopping-cart"> </i>
						Estabelecimentos</a></li>
					<li class="tab col s3"><a class="disable  " id="prog" href="#progress"> <i class="fa fa-spinner"> </i> Progresso</a></li>
					<li class="tab col s3"></i><a href="#configurar"  id="config"  class="tooltipped" data-position="bottom" data-tooltip="Configurar Estabelecimentos"> <i class="fa fa-cogs"> </i>
						Configurar</a></li>
					<li class="tab col s3"></i><a href="#produtos"  id="config-product" class="tooltipped" data-position="bottom" data-tooltip="Configurar Produtos"> <i class="fa fa-cogs"> </i>
						Produtos</a></li>
					<li class="tab col s3"></i><a href="#pesquisa" id="search_check" class="tooltipped" data-position="bottom" data-tooltip="Visualizar Pesquisas"> <i class="fa fa-database"> </i>
						Pesquisas</a></li>
					<!-- SOBRE -->
					<li class="tab col s3"></i><a href="#about" id="sobre" class="tooltipped" data-position="left" data-tooltip="Sobre o Programa"> <i class="fa fa-info-circle"> </i>
						Sobre</a></li>
				</ul>
			</div>
		</header>
		<main class="main-content row z-depth-5">
			<div id="pesquisar" class="tab">
					<div class="tab-content" style="display: flex; flex-direction:column; justify-content: center; align-items: center;">
						{% if chrome_installed == 'False' %}
							<h5>Instale uma versão qualquer do Google Chrome para realizar uma pesquisa.</h5>
						{% elif product_len == 0 %}
							<h5>Cadastre pelo menos um produto para realizar uma pesquisa</h5>
						{% else %}
							<h5>Selecione um município para prosseguir com a pesquisa</h5>
						{% endif %}
						<div class="select-wrapper-main" style="flex-direction: colunm;">
							{% if chrome_installed == 'False' %}
								<a class="select-item city z-depth-2" >Indisponível</a>
							{% elif len(city) == 0 %}
									<a class="select-item city z-depth-2" >Cadastre pelo menos um município para prosseguir.</a>
							{% else %}
								{% if product_len == 0 %}
									{% for city in data %}
										<a class="select-item city z-depth-2 disable"" value="{{city[0]}}" id="{{replace(city[0], ' ')}}" >{{decode(city[0])}}</a>
									{% endfor %}
								{% else %}
									{% for city in data %}
										<a class="select-item city z-depth-2" value="{{city[0]}}" id="{{replace(city[0], ' ')}}" >{{decode(city[0])}}</a>
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
						{% if chrome_installed == 'False' %}
							<button id="select" class="disable  btn-large" style="background-color: gray !important;">Indisponível</button>
						{% elif len(city) == 0 %}
							<button id="select" class="disable  btn-large" style="background-color: gray !important;">Selecionar Estabelecimentos</button>
						{% elif product_len == 0 %}
							<button id="select" class="disable  btn-large" style="background-color: gray !important;">Selecionar Estabelecimentos</button>
						{% else %}
							<button id="select" class="btn-large">Selecionar Estabelecimentos</button>
						{% endif %}
					</div>
			</div>
			<div id="listagem" class="col s12 tab">
				<h5>Selecione pelo menos um estabelecimento para prosseguir</h5>
				<div class="tab-content-listagem">
					<div class="select_wrapper col s12">
						<i class="fa fa-spinner fa-pulse" id="loader"></i>
					</div>
					<div class="button-menu">
						<button id="back" class=" btn-large">Voltar</button>
						<button id="select-all" class=" btn-large">Selecionar Todos</button>
						<button id="start" class=" btn-large">Iniciar Pesquisa</button>
					</div>
				</div>
			</div>
			<div id="progress" class="col s12 tab">
				<div class="tab-content" style="top: -50%">
					<h5>Iniciando Pesquisa</h5>
					<div id="progress_container">
						<div id="progress_bar">0%</div>
					</div>
					<div id="progress_scroll" style="">
						<div id="progress_log">
						</div>
					</div>
					<div class="button-menu">
						<button id="pause" class=" btn-large">Parar Pesquisa</button>
						<button id="cancel" class=" btn-large">Cancelar Pesquisa</button>
					</div>
				</div>
				<div class="row center pause-overlay">
					<i class="fa fa-spinner fa-pulse" id="pause-loader"></i>
				</div>
			</div>
			<div id="configurar" class="col s12 tab" >
				<div class="config-menu">
					<div style="margin-top: 1px ;" class="left tooltipped" data-position="top" data-tooltip="Filtrar por Cidade" >
						<select id="city-select" class="browser-default" >
							{% for city in data %}
								<option value="{{decode(city[0])}}">{{decode(city[0])}}</option>
							{% endfor %}
						</select>
					</div>
					<a href="#add-city-modal" rel="modal:open" class="right round btn-floating btn-large  primary_color tooltipped"  data-position="left" data-tooltip="Adicionar Cidade"><i class="fa fa-plus"></i>
					</a>
					<a style="margin-right: 10px;" class="right round btn-floating btn-large  primary_color tooltipped" data-position="bottom" data-tooltip="Editar Cidade" href="#edit-city" rel="modal:open"><i class="fa fa-edit"></i>
					</a>
					<a style="margin-right: 10px;" class="right round btn-floating btn-large  primary_color tooltipped" data-position="bottom" data-tooltip="Remover Cidade" href="#delete-city" rel="modal:open"><i class="fa fa-minus"></i>
					</a>
					<a id="export" class="primary_color left  btn-large">Exportar</a>
					<a id="import" class="primary_color left  btn-large">
						Importar
					</a>
					<div style="width: 0; height: 0; overflow: hidden;">
						<input id="import_file" type="file"/>
					</div>
				</div>
				<div class="tab-content-config">
					<div class="config-title">
						<h5>Listagem de Estabelecimentos</h5>
						<a class="right round btn-floating btn-large  primary_color tooltipped" data-position="left" data-tooltip="Adicionar Estabelecimento" href="#add-modal" rel="modal:open"><i class="fa fa-plus"></i></a>
					</div>
					<div id="list-config">
						<div style="display: none;" class="z-depth-3 estab-config-result" id="no-result" style="justify-content: center;"><a style="color: white; width: 100%;"  href="#add-modal" rel="modal:open">
							<p>Nenhum estabelecimento cadastrado, pressione para adicionar.</p>
							</a>
						</div>

					</div>
				</div>
			</div>
			<div id="produtos" class="col s12 tab" >
				<div class="tab-content-config">
					<div class="config-title">
						<h5>Listagem de Produtos</h5>
						<a class="right round btn-floating btn-large  primary_color tooltipped" data-position="left" data-tooltip="Adicionar Produto" href="#add-modal-product" rel="modal:open"><i class="fa fa-plus"></i></a>
					</div>
					<div id="list-product">

						<div style="display: none;" class="z-depth-3 product-config" id="no-result-product" style="justify-content: center;">
							<a style="color: white; width: 100%;"  href="#add-modal-product" rel="modal:open">
							<p>Nenhum produto cadastrado, pressione para adicionar.</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="pesquisa" class="col s12 tab" >
				<div class="tab-content-search">
					<div class="config-title" style="margin: 0;">
						<div style="margin-top: 1px ;" class="left tooltipped" data-position="top" data-tooltip="Filtrar por Pesquisa" >
							<select id="search-select" class="browser-default">
								{% if len(search_info) == 0 %}
									<option value="null">Nenhuma Pesquisa</option>
								{% endif %}
								{% for search in search_info %}
									<option city="{{search[2]}}" value="{{search[0]}}">{{search[2]}} {{search[3]}}</option>
								{% endfor %}
							</select>
						</div>
						<div style="margin-top: 1px ;" class="left tooltipped" data-position="top" data-tooltip="Filtrar por Mês" >
							<select id="month-picker" class="browser-default">
								{% for index,mont in enumerate(month) %}
									{% if index + 1 == active_month %}
										<option selected value="{{index}}">{{mont}}</option>
									{% else %}
										<option value="{{index}}">{{mont}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						<!-- <a style="margin-left: 10px; margin-right: 10px;" id="month-picker" type="text" class="btn-floating btn-large primary_color"><i class="fa fa-calendar"></i></a> -->
						<h5 style="width: calc(100% - 500px);">Listagem de Pesquisa</h5>
						<a style="margin-right: 10px; margin-left: 10px;" class="right round btn-floating btn-large  primary_color tooltipped" data-position="left" id="open-search-file" href="#search-file" rel="modal:open" data-tooltip="Gerar Arquivos"><i class="fa fa-file"></i></a>
						<a class="right round btn-floating btn-large  primary_color tooltipped"  id="remove-search" data-position="left" data-tooltip="Remover Pesquisa"><i class="fa fa-minus"></i></a>
					</div>
					<div class="input-field ">
						<input placeholder="Nome do Estabelecimento : dalnordes .." class="browser-default z-depth-2" id="search_bar">
						<a class="right round btn-floating btn-large  primary_color tooltipped" data-position="left" id="do_search" data-tooltip="Pesquisar"><i class="fa fa-search"></i></a>
					</div>
					<div id="list-search">
							<table class="centered striped">
								<thead>
								<tr style="position:sticky; top: -3%; color: #fff;" class="primary_color">
									<th>Estabelecimento</th>
									<th>Endereço</th>
									<th>Palavra Chave</th>
									<th>Produto</th>
									<th>Preço</th>
								</tr>
								</thead>
								<tbody id="search-tbody">
									<tr class="no-result" style="display: none;">
										<td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
										<td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
										<td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
										<td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
										<td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px; color: #fff" class="red">Nenhum valor encontrado</td>
									</tr>
								</tbody>
							</table>
							<i class="fa fa-spinner fa-pulse" id="search-loader"></i>
						</div>
					</div>
					<span class="left duration" >Tempo de duração da pesquisa : NaN  </span>
			</div>
			<div id="about" class="col s12 tab" >
				<div class="tab-content-config row" style="padding-bottom: 5%;">
					<div class="config-title">
						<h5>Sobre o Programa</h5>
					</div>
					<div id="doc" class="row tab" style="margin: 2em 0;">
						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>

						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>

						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>

					</div>
					<div id="doc2" class="row tab" style="margin: 2em 0;">
						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>
						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>
						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>
					</div>
					<div id="doc3" class="row tab" style="margin: 2em 0;">

						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>
						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>
						<div class="col s4 m4 center about-item">
							<h5 style="display: flex; font-size: large; justify-content: center;"> <i style="margin-right: 10px;" class="fa fa-shopping-cart"> </i> Lorem ipsum dolor sit</h5>
							<blockquote>
								This is an example quotation that uses the blockquote tag. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempore doloremque harum eaque, animi fugit repudiandae placeat voluptates exercitationem porro dicta tempora! Tempore, totam neque. Rem aperiam similique placeat et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, dolorum quos, voluptates at necessitatibus assumenda aut optio velit culpa ipsum totam nobis ad nemo numquam natus, dolor ratione mollitia libero.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe, doloribus velit rerum expedita sint dolorum nam delectus nesciunt voluptate atque sequi sed tempora, harum quasi unde minima, facere magni!
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima numquam, dolorum modi perferendis doloribus exercitationem fuga, in itaque totam provident ut alias amet fugiat ipsa libero blanditiis! Explicabo, nulla fugit.
							</blockquote>
						</div>
					</div>

					<ul id="sec-navigation" class="tabs" style="width: fit-content;">
						<li class="tab col s3"><a href="#doc"> <i class="fa fa-map-marker"> </i></a></li>
						<li class="tab col s3"><a href="#doc2"> <i class="fa fa-map-marker"> </i></a></li>
						<li class="tab col s3"><a href="#doc3"> <i class="fa fa-map-marker"> </i></a></li>
					</ul>
			</div>
		</main>

		<!-- MODAL DINAMICO PARA EDIÇÃO DE ESTAB -->

		<div id="edit-modal"  style="min-height: 450px" class="modal">
			<a href="#" rel="modal:close" />
		</div>

		<!-- MODAL DINAMICO PARA EDIÇÃO DE PRODUTO -->

		<div style="height: 45%;  min-height: 350px;"id="edit-modal-product" class="modal">
			<a href="#" rel="modal:close" />
		</div>

		<!-- MODAL ADICIONANDO PRODUTO -->
		<div style="height: 45%; min-height: 350px;" id="add-modal-product" class="modal">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Adicionar Produto</h5>
				</div>
					<div>
						<div style="margin: 20px 0;">
							<div class="input-field col s12">
								<input placeholder="" id="product_name" type="text" >
								<label class="active" for="product_name">Produto</label>
							</div>
							<div class="input-field col s12">
								<input  placeholder="Palavras Chave" id="keywords" type="text" >
								<label class="active" for="">Palavras Chave</label>
							</div>
						</div>
					</div>
					<div class="modal-menu" style="position: relative;">
						<button  class="cancel primary_color btn-large" href="#add-modal-product" rel="modal:close">Cancelar</button>
						<button id="save-add-product" class="primary_color btn-large">Adicionar Produto</button>
					</div>
			</div>
		</div>

		<!-- MODAL ADICIONANDO ESTAB -->
		<div id="add-modal" style="min-height: 450px;" class="modal">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Adicionar Estabelecimento</h5>
				</div>
					<div>
						<div style="margin: 20px 0;">
							<div class="input-field col s6">
								<select id="city_name-save" style="color: black !important;">
									{% for city in data %}
										<option value="{{city[0]}}" >{{decode(city[0])}}</option>
									{% endfor %}
								</select>
								<label>Cidade</label>
							</div>
							<div class="input-field col s6">
								<input placeholder="Estabelecimento" id="estab_name-save" type="text" >
								<label class="active" for="estab_name-save">Estabelecimento</label>
							</div>
							<div class="input-field col s6">
								<input  placeholder="Nome na Plataforma" id="web_name-save" type="text" >
								<label class="active" for="web_name-save">Nome na Plataforma</label>
							</div>
							<div class="input-field col s6">
								<input placeholder="Endereço" id="adress-save" type="text" >
								<label class="active" for="adress-save">Endereço</label>
							</div>
						</div>
					</div>
					<div class="modal-menu">
						<button  class="cancel primary_color btn-large" href="#add-modal" rel="modal:close">Cancelar</button>
						<button id="save-add" class="primary_color btn-large">Adicionar Estabelecimento</button>
					</div>
			</div>
		</div>

		<!-- MODAL DELETANDO CIDADE -->
		<div id="delete-city" class="modal" style="max-width: 50%; height: 40%;">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Deletar Cidade</h5>
				</div>
					<div>
						<div style="margin: 20px 0;">
							<div class="input-field col s12">
								<select id="city-delete-select" style="color: black !important;">
									{% for city in data %}
										<option value="{{city[0]}}" >{{decode(city[0])}}</option>
									{% endfor %}
								</select>
								<label>Cidade</label>
							</div>
					</div>
				</div>
				<div class="modal-menu">
					<button  class="cancel primary_color btn-large" href="#delete-city" rel="modal:close">Cancelar</button>
					<button id="save-delete-city" class="primary_color btn-large">Deletar Cidade</button>
				</div>
		</div>
		<!-- MODAL EDITANDO CIDADE -->
		<div id="edit-city" class="modal" style="max-width: 50%; height: 40%; min-height: 350px;">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Editar Cidade</h5>
				</div>
					<div>
						<div style="margin: 20px 0;">
							<div class="input-field col s6">
								<select id="city-edit-select" style="color: black !important;">
									{% for city in data %}
										<option value="{{city[0]}}" >{{decode(city[0])}}</option>
									{% endfor %}
								</select>
								<label>Cidade</label>
							</div>
							<div class="input-field col s6">
								<input placeholder="Cidade" id="city-edit" type="text" >
								<label class="active" for="city-edit">Novo Nome</label>
							</div>
					</div>
				</div>
				<div class="modal-menu">
					<button  class="cancel primary_color btn-large" href="#" rel="modal:close">Cancelar</button>
					<button id="save-edit-city" class="primary_color btn-large">Salvar Alterações</button>
				</div>
		</div>

		<!-- MODAL ADICIONANDO CIDADE -->
		<div style="max-width: 50%; height: 40%;" id="add-city-modal" class="modal">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Adicionar Cidade</h5>
				</div>
					<div>
						<div style="margin: 20px 0;">
							<div class="input-field col s12">
								<input placeholder="Cidade" id="save-city" type="text" >
								<label class="active" for="save-city">Cidade</label>
							</div>
						</div>
					</div>
					<div class="modal-menu">
						<button  class="cancel primary_color btn-large" href="#add-city-modal" rel="modal:close">Cancelar</button>
						<button id="add-city" class="primary_color btn-large">Adicionar Cidade</button>
					</div>
			</div>
		</div>

		<!-- MODAL DE WARNINGS -->
		<div id="warning" class="modal">
			<div class="modal-content" style="height: 100%">
				<div>
					<h5 class="modal-title"  style="width: 100%;"><i style="color: #bb3939;margin-right: 10px;" class="fa fa-warning"></i> Dicas para utilização do programa <i style="color: #bb3939;margin-left: 10px;" class="fa fa-warning"></i></h5>
				</div>
				<ul class="browser-default">
					<li>Atualizar a página do programa manualmente irá fechar o programa.</li>
					<li>Todo o progresso de uma pesquisa é salvo durante a mesma, ou seja, em caso de erro ou perda de internet, é possível retomar uma pesquisa através de um popup que aparece quando o programa é aberto.</li>
					<li>A quantidade de estabelecimentos cadastrados não influênciam no tempo da pesquisa em si, os arquivos são gerados separadamentes para diminuir o custo de tempo consumido. Em contrapartida cada palavra chave aumenta em media 2-4 minutos no tempo total da pesquisa.</li>
					<li>É possível pesquisar por qualquer campo da tabela de pesquisas disponível na janela de pesquisas.</li>
					<li>Evite o máximo atualizar a página manualmente ou fecha-la durante uma pesquisa para minimizar a probabilidade de erro causado durante uma pesquisa.</li>
					<li>Só é possível abrir uma aba do programa por vez, caso seja aberto uma outra janela você encontrará um aviso o notificando para voltar para a janela principal.</li>
					<li>Todos os endereços dos estabelecimentos devem ser cadastrados da forma mais identica possível aos valores encontrados no  Preço da Hora - Bahia para máximizar as chances de uma filtragem correta.</li>
					<li>Antes de cadastrar uma cidade, confira no site do preço da hora como o nome do município aparece, isso pode ser feito nos filtros de pesquisa em : Alterar Localização > (popup) Usar centro do município > Insira o nome do município desejado. </li>
				</ul>
			</div>
		</div>

		<!-- MODAL DE OPÇÃO DE ARQUIVOS - PESQUISA -->
		<div id="search-file" class="modal">
			<div class="modal-content">
				<div>
					<h5 class="modal-title">Selecione pelo menos um estabelecimento para prosseguir</h5>
				</div>
				<div style="margin-top: 1.8em;">
					<div class="input-field col s12">
						<select style="color: black !important;">
								<option value="1" >Padrão</option>
						</select>
						<label style="left: 0;">Formatação</label>
					</div>
					<div id="file-list" style="max-height: 250px;overflow: auto; width: 100%;display: inline-flex; flex-wrap: wrap; justify-content: center; margin-bottom: 15px; align-items: center;">
						<!-- <div class="select_wrapper col s12">
							<i class="fa fa-spinner fa-pulse" id="loader"></i>
						</div> -->
					</div>
					<div class="modal-menu" style="position: relative;">
						<button class="cancel primary_color btn-large" href="#add-modal" rel="modal:close">Cancelar</button>
						<button id="select-all-file" class=" btn-large primary_color">Selecionar Todos</button>
						<button id="generate-file" class="primary_color btn-large">Gerar Arquivos</button>
					</div>
				</div>
			</div>
		</div>


	{% endblock %}

	{% block scripts %}
		{{super()}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
		<script type='text/javascript' src="{{url_for('static', filename='js/materialize.js')}}"></script>
		<script type='text/javascript' src="{{url_for('static', filename='js/modal.js')}}"></script>
		<script type='text/javascript' src="{{url_for('static', filename='js/home.js')}}"></script>
		<script type="module" src="{{url_for('static', filename='js/cookie.min.mjs')}}"></script>
		<script type="text/javascript" charset="utf-8">

			var search = '{{search}}';
			var active = '{{active}}';
			var progress_value = '{{progress_value}}';
			var socket = io().connect("http://127.0.0.1:5000/");
			var chrome_installed = '{{chrome_installed}}';

			const search_loaded = () => {

				if (search == 'True' && chrome_installed == 'True'){

					if(confirm("Uma pesquisa foi encontrada em progresso, deseja retoma-la?")){

						$("#backup-button").addClass("disable");
						$("#progress h5").html(`Retomando Pesquisa`).hide().fadeIn(500);
						socket.emit('search', { names: '', city: '', backup: 1});

						var width = active.split('.')[0];
						var elem = document.getElementById("progress_bar");
						width = width * progress_value;
						width = width.toFixed(2);
						elem.style.width = width.toString() + "%";
						elem.innerHTML = width.toString() + "%";

						$('#main-navigation').tabs('select', 'progress');
						$('#main-navigation  a').addClass("disabled");
						$(window).on('unload', function( event ) {
							return "Realmente deseja sair ? Existe uma pesquisa em andamento.";
						});

					}

				}

			}


		</script>
		<script type="module">
			import Cookies from "{{url_for('static', filename='js/cookie.min.mjs')}}"
			var search = '{{search}}';
			var chrome_installed = '{{chrome_installed}}';
			window.onload = () => {
				// console.log(Cookies.get("warning"));
				if(Cookies.get("warning") === undefined){
					$("#warning").modal({});
					Cookies.set("warning", "seen", {expires: 1});
				}else{
					search_loaded()
				}

				if(chrome_installed == "False")
					alert("Instale uma versão do Google Chrome para poder realizar uma pesquisa.");
			}

			if(search == 'True')
				$('body').on('click', '#backup-button', function (e) {

					search_loaded();

				});

		</script>
	{% endblock %}
