{% extends "base.html" %}

{% block title %}
  ACCB Price Miner
{% endblock %}

{% block content %}
  <header>
    <div class="top-logo">
      {{ img("uesc_brasão.png", "Logo da UESC") }}
      {{ img("accb.png", "Logo do ACCB") }}
      {{ img("proex.png", "Logo da PROEX") }}
    </div>
  </header>

  <main
    class="main-content row"
    style="display: flex; align-items: center; justify-content: center; font-family: 'Nunito'; background-color: transparent;"
  >
    <h5
      class="z-depth-5 red white-text"
      style="border-radius: 10px; padding: 15px;"
    >
      O programa está aberto em outra aba, se dirija até ela para continuar com a navegação.
    </h5>
  </main>
{% endblock %}
